@media (min-width:767px)  {

    section{
        border: 4px; 
        border-style: solid; 
        border-color: #004c99; 
        padding-left: 8px; 
        padding-right: 8px;
    }
    h1{
        margin-bottom: 0px;
        font-size:xx-large;
        color: #004c99;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    h2{
        margin-top: 0px;
        font-size: larger;
        color: #004c99;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h3{
        background-color: #C0C0C0;
        padding: 7px;
        color: #004c99;
        margin-top: auto;
        margin:0;
        font-size: large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p{
       margin-top: 0;
       padding: 5px;
       font-size: medium;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    div{
        background-color: #d0d0d0;
        margin-top:15px ;
        margin-bottom:15px ;
    }

    ul{
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li{
        font-size: medium;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    table{
        margin-top: 5px;
        margin-bottom: 5px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 

    a{
        text-decoration: underline;
        color: #404040;
    }

    span{
        color: #404040;
    }

    img{
        border-width: 2px;
        border-color: #404040;
        border-style: solid;
    }

    form{
        text-align:left; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #basicInfo img{
        border: 6px;
        border-color: #004c99;
        border-style: solid;
    }

    #Menu a{
        color:#004c99;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


