@media (max-width:767px)   {

    section{
        border: 4px; 
        border-style: solid; 
        border-color: black; 
        padding-left: 8px; 
        padding-right: 8px;
    }

    h1{
        margin-bottom: 0px;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
    }
    
    h2{
        margin-top: 0px;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h3{
        background-color: #C0C0C0;
        padding: 7px;
        color: black;
        margin-top: auto;
        margin:0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p{
       margin-top: 0;
       padding: 5px;
       font-size: medium;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    div{
        background-color: #d0d0d0;
        margin-top:15px ;
        margin-bottom:15px ;
    }

    ul{
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li{
        font-size: medium;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    table{
        margin-top: 5px;
        margin-bottom: 5px;
    } 

    

    span{
        color: #404040;
    }

    img{
        border-width: 2px;
        border-color: #404040;
        border-style: solid;
    }

    form{
        text-align:left; 
    }

    #basicInfo img{
        border: 6px;
        border-color: black;
        border-style: solid;
    }

    #Menu a{
        color:black;
    }   


}
